#metadata-step.tab-pane.active
  = form_tag '/', method: 'post', class: 'form-horizontal', id: 'source-form' do
    .row
      .col-xs-6
        %fieldset
          %legend By-law information
          .form-group
            %label.col-sm-3.control-label Municipality
            .col-sm-3
              %select#doc-meta-region.form-control(name="doc[meta][region]")
                - Steno::Region::REGIONS.each_with_index do |region, i|
                  %option{value: region.code, selected: i==0, data: {Gazette: region.gazette}}&= region.name

          .form-group
            %label.col-sm-3.control-label Full title of the By-law
            .col-sm-9
              = text_field_tag 'doc[meta][title]', placeholder: 'eg. City of Cape Town: How to Have Fun By-law, 2012', class: 'form-control', id: 'doc-meta-title'
          .form-group
            %label.col-sm-3.control-label Date first published
            .col-sm-4
              = text_field_tag 'doc[meta][pub_date]', type: 'date', class: 'form-control', value: '2010-01-01', placeholder: 'YYYY-MM-DD'
          .form-group
            %label.col-sm-3.control-label Published in Gazette
            .col-sm-6
              = text_field_tag 'doc[meta][pub_name]', value: 'Province of Western Cape: Provincial Gazette', class: 'form-control', id: 'doc-meta-pub_name'
            %label.col-sm-1.control-label no.
            .col-sm-2
              = text_field_tag 'doc[meta][pub_number]', placeholder: '1234', class: 'form-control'
          .form-group
            %label.col-sm-3.control-label Short name
            .col-sm-9
              = text_field_tag 'doc[meta][short_name]', placeholder: 'short-name', class: 'form-control', id: 'doc-meta-short_name'

      .col-xs-6
        %fieldset
          %legend Settings
          .form-group#section-title-formats
            %label.col-sm-3.control-label What do section titles look like?
            .col-sm-9
              %label.form-control
                = radio_button_tag 'doc[options][section_number_after_title]', value: '', checked: true
                .format
                  1. Definitions
                  %br
                  %span.text In this by-law, ...

              %label.form-control
                = radio_button_tag 'doc[options][section_number_after_title]', value: 'true'
                .format
                  Definitions
                  %br
                  1. 
                  %span.text In this by-law, ...

    .step-buttons.pull-right
      %button.btn.btn-primary.next-step Looks good, next step
