- for child in items
  %li{class: child.name}
    - case child.name
    - when "chapter"
      - if child.in_schedules?
        Schedule
      - else
        Chapter
      #{h child.num} - #{h child.heading}
    - when "part"
      Part #{h child.num} - #{h child.heading}
    - when "section"
      #{h child.num}. #{h child.heading}

    - kids = child.toc_children
    - if kids and not kids.empty?
      %ol
        = partial 'toc_container', engine: :haml, locals: {items: kids}
