%ul.nav.nav-tabs
  %li.active
    %a(href="#source-step" data-toggle="tab") 1. Parse plain text
  %li
    %a(href="#metadata-step" data-toggle="tab") 2. Describe metadata

.tab-content
  #source-step.tab-pane.active
    - form_tag '/', method: 'post', class: 'form-horizontal', id: 'source-form' do
      #text-panel
        .row
          .col-xs-6
            %ul.nav.nav-tabs
              %li.active
                %a(href="#tab-source") Plain text source

            .tab-content
              #tab-source.tab-pane.active
                %pre#doc-source-text

          .col-xs-6
            %ul.nav.nav-tabs
              %li.active
                %a(href="#html-tab" data-toggle="tab") Preview
              %li
                %a(href="#xml-tab" data-toggle="tab") XML
            .tab-content
              #html-tab.tab-pane.active
                #doc-html.an-container
              #xml-tab.tab-pane
                %pre#doc-xml

      .button-panel
        .row
          .col-xs-6
            .buttons.pull-right
              %button#parse-btn.btn.btn-default(type="submit") Parse


  #metadata-step.tab-pane
    - form_tag '/', method: 'post', class: 'form-horizontal', id: 'metadata-form' do
      #metadata-panel
        .row
          .col-xs-6
            .form-group
              %label.col-sm-3.control-label Full title
              .col-sm-9
                = text_field_tag 'doc[meta][title]', placeholder: 'eg. City of Cape Town: How to Have Fun By-law, 2012', class: 'form-control'
            .form-group
              %label.col-sm-3.control-label Short name
              .col-sm-6
                = text_field_tag 'doc[meta][short_name]', placeholder: 'short-name', class: 'form-control'
            .form-group
              %label.col-sm-3.control-label Gazette
              .col-sm-6
                = text_field_tag 'doc[meta][pub_name]', placeholder: 'Province of Western Cape: Provincial Gazette', class: 'form-control'
              %label.col-sm-1.control-label no.
              .col-sm-2
                = text_field_tag 'doc[meta][pub_number]', placeholder: '1234', class: 'form-control'
          .col-xs-6
            .form-group
              %label.col-sm-2.control-label Locale
              .col-sm-3
                = text_field_tag 'doc[meta][locale]', placeholder: 'Cape Town', class: 'form-control'
            .form-group
              %label.col-sm-2.control-label Published
              .col-sm-4
                = text_field_tag 'doc[meta][pub_date]', type: 'date', class: 'form-control'
      .button-panel
        .row
          .col-xs-6
            .buttons.pull-right
              %button#metadata-save-btn.btn.btn-primary(type="submit") Save

= javascript_include_tag '/js/ace/ace.js'
