%ul.steps.nav.nav-pills
  %li.active
    %a(href="#metadata-step" data-toggle="tab") 1. By-law Info
  %li
    %a(href="#text-step" data-toggle="tab") 2. Parse by-law
  %li
    %a(href="#xml-step" data-toggle="tab") 3. Check XML
  %li
    %a(href="#export-step" data-toggle="tab") 4. Save &amp; Export

.tab-content
  = partial 'metadata_step',  engine: :haml
  = partial 'text_step',      engine: :haml
  = partial 'xml_step',       engine: :haml
  = partial 'export_step',    engine: :haml

= javascript_tag 'ace/ace.js'
