!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title
      - if content_for? :title
        = content_for :title
      - else
        Steno

    =# stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css'
    =# stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap-theme.min.css'
    = stylesheet_link_tag '/css/bootstrap/bootstrap.min.css'
    = stylesheet_link_tag '/css/bootstrap/bootstrap-theme.min.css'
    =# stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css'
    = css :app
  %body
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser.
        %a(href="http://browsehappy.com/") Upgrade your browser today
        or
        %a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
        to better experience this site.

    %header#header
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %a.navbar-brand(href='/')
              Steno

    #wrapper
      = yield

      =# javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
      =# javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js'
      = javascript_include_tag '/js/jquery-1.10.2.min.js'
      = javascript_include_tag '/js/bootstrap-2.3.2.min.js'
      = js :app
