!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css', media: "screen, print"
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', media: "screen, print"
    = css :app, media: "screen, print"
  %body
    /[if lt IE 7]
      %p.chromeframe
        You are using an outdated browser.
        %a(href="http://browsehappy.com/") Upgrade your browser today
        or
        %a(href="http://www.google.com/chromeframe/?redirect=true") install Google Chrome Frame
        to better experience this site.

    .container
      %header#header
        .navbar.navbar-inverse
          .navbar-inner
            %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

            %a.brand(href='/')
              Steno

      %section#main
        = yield

    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'
    = javascript_include_tag '//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js'
    = js :app
